<p>Hi <%=@user.username%>, here are all your sent invites</p>
<%@invites.each do |invite|%>
    <ul>
        <li>Event: <%= invite.event.title%></li>
        <li>Host: <%= invite.host.username%></li>
        <li>Guest: <%= invite.guest.username%></li>
        <li>Staus: <% if invite.status == 1%>Accepted<%elsif invite.status == 0%>Pending<%else%>Rejected<%end%></li>
    </ul>
<%end%>
<%=link_to "back to user profile", @user%>