<h1>Sign In</h1>

<%= form_with url: sign_in_path do |form| %>
    
    <div class="mb-3">
        <%= form.label :ID%>
        <%= form.text_field :id, class: "form-control", placeholder: "2" %>    
    </div>

    <div class="mb-3">
        <%= form.label :email%>
        <%= form.text_field :email, class: "form-control", placeholder: "cool@ucsb.edu" %>    
    </div>

    <div class="mb-3">
        <%= form.label :password%>
        <%= form.password_field :password, class: "form-control", placeholder: "iamverycool" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Sign In", class: "btn btn-primary" %>
    </div>

<% end %>