<h1>Create New Events</h1>
<h2>New Event for <%= @user.name %> <%= @user.email %></h2>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= render 'form', user: @user, event: @event %>

<%= link_to 'Back to main page', main_path %> | 
<%= link_to 'Back to events', events_path %>